<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Authentication: Login Page</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
  </head>
  <body>
<form class="box" action="{% url 'basicUserAuthApp:log_in' %}" method="post">
<h1>Login</h1>
{% csrf_token %}
<input type="text" name="username" placeholder="Username">
<input type="password" name="password" placeholder="Password">
<input type="submit" name="" value="Login">
</form>
  </body>
</html>
